@charset "UTF-8";

@font-face {
  font-family: "DINNextLTPro-Medium";
  src: url("DINNextLTPro-Medium.woff2") format("woff2"),
       url("DINNextLTPro-Medium.woff") format("woff"),
       url("DINNextLTPro-Medium.ttf") format("truetype"),
       url("DINNextLTPro-Medium.eot") format("embedded-opentype"),
       url("DINNextLTPro-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}